/* .card {
    min-height: 100%;
  } */
  
  .scrollable-text {
    max-height: 100px;
    overflow-y: auto;
  }
  .card {
    transition: transform 0.2s ease-in-out;
  }
  .card:hover {
    transform: scale(1.02);
  }
  .card-body {
  padding: 0.75rem;
}

    