.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-img-top {
  object-fit: cover;
  height: auto;
  max-height: 180px;
  width: 100%;
}

.scrollable-text {
   max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.scrollable-text::-webkit-scrollbar {
  width: 5px;
}

.scrollable-text::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.scrollable-text::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.btn-primary {
  margin-top: auto;
}
.headingg{
  padding-bottom: 20px;
}